HELP.md
target/
!**/src/main/**
!**/src/test/**
~$*

### STS ###
.apt_generated
**/.classpath
**/.project
**/.factorypath
**/.settings
**/.springBeans
**/.sts4-cache
**/.settings/*
*/logs/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### others ###
output
.DS_Store
**/log/**